<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="card mt-2 mb-2 mx-4" style="float: left; border-radius: 10px; width: 16rem; height: 18rem;">
            
            <div class="card-body"> 
                <div class="d-flex justify-content-between">
                    <img class="card-img-top" style=" width: 150px; height: 150px;" src="/images/dosa.png" alt="Card image cap">

                    <p style="font-size: 22px; color: green; font-weight: bolder;">*4.3</p>
                </div>

              <h5 class="card-title w-100" style=" font-size: 26px; font-weight: bolder;">Non-veg Thali</h5>
              <hr style="margin-top: 2px; width:80%; height: 5px;">


              <div class="bottom d-flex flex-row justify-content-center">
                    <p class="text-decoration-line-through mx-1" style="font-weight: bold; color: red; float: left; font-size: 22px;">150</p>
                    <p class="ms-2" style="font-weight: bold; color: green; float: left; font-size: 22px;">30</p>
                    <div class="input-group " style="margin-bottom: 30px; margin-left: 45px; float: left; width: 100px; height: 10px;">
                    
                        

                        <input name="value" type="number" id="qty_input" class="form-control form-control-sm"
                        style="background-color: white;" value="0" min="0" max="8">

                        
                    </div>
                </div>


            </div>
        </div>
        
        <script>
            
        </script>
    </body>
</html>