<!DOCTYPE>
<html lang="en">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <head>
    <title>DESIDHABA</title>
    <style>
      input::placeholder { /* Chrome/Opera/Safari */
        font-size: smaller;
        opacity: 0.1;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid" style="background-color: white; ">
      <div class="row h-100">
        <div class="col-md-6 h-100">
          <div class="mt-4">
            <b class="ms-4" style=" font-weight: bolder; font-size: 25px; color: #005B30;">Desi</b>
            <b style=" margin: -5px; padding: 0px; font-weight: bolder; font-size: 25px; color: black;">Dhaba</b>
          </div>
          <form style="margin-top: 150px; margin-left:140px;" action="/user/login" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <div class="fw-bold" style="font-size: 50px; margin-bottom: 40px;">
                Welcome
              </div>
              
              
              <input class="mt-2 form-control w-75 " style="margin-bottom: 20px;" type="text" placeholder="Enter email " name="email" required>
              
              
              <input class="mt-2 form-control w-75 " type="password" placeholder="Enter password " name="password" required>
              <div class=" w-75 mt-4">
                <b  style="margin-left: 110px; font-weight: bold; opacity: 0.8;">forgot password</b>
                <b style=" font-weight: 400;">||</b>
                <b style=" padding: 0px; font-weight: bold;color: #005B30;">Register</b>
              </div>
              <br >
              <button class="form-control  w-75" style="border-radius: 5px; color: white; background-color: #005B30;" type="submit">Sign in</button>
            
              
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <img class= "w-100 h-100 " src="/images/login_background.jpeg" alt="Dosa Image">
        </div>
      </div>
    </div>
  </body>
</html>