<!DOCTYPE>
<html lang="en">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <head>
    <title>DESIDHABA</title>
  </head>
  <body>
    <div class="container-fluid" style="background-color: white; ">
      <div class="row h-100">
        <div class="col-md-6 h-100">
          <div class="mt-4">
            <b class="ms-4" style=" font-weight: bolder; font-size: 25px; color: #005B30;">Desi</b>
            <b style=" margin: -5px; padding: 0px; font-weight: bolder; font-size: 25px; color: black;">Dhaba</b>
          </div>
          <form style="margin-top: 0px; margin-left:140px;" action="/user/signup" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <div class="h-3 fw-bold" style="font-size: 30px;">
                Create Account
              </div>

              <label class="mt-3" for="ID"><b> Name</b></label>
              <br>
              <input class="mt-2 form-control w-75 " type="text" placeholder=" Name " name="name" required>

              <label class="mt-3" for="ID"><b>Email</b></label>
              <br>
              <input class="mt-2 form-control w-75 " type="text" placeholder="Enter email " email="email" required>

              <label class="mt-3" for="ID"><b>First Name</b></label>
              <br>
              <input class="mt-2 form-control w-75 " type="text" placeholder="Phone number " phone="phone" required>
              
              <label class="mt-3" for="ID"><b>Password</b></label>
              <br>
              <input class="mt-2 form-control w-75 " type="password" placeholder="Enter password " password="password" required>

              <label class="mt-3" for="ID"><b>Confirm Password</b></label>
              <br>
              <input class="mt-2 form-control w-75 " type="password" placeholder="Confirm Passsword" cpassword="cpassword" required>

              <div class=" w-75 mt-4">
                <b  style="margin-left: 110px; font-weight: bold; opacity: 0.8;">forgot password</b>
                <b style=" font-weight: 400;">||</b>
                <b style=" padding: 0px; font-weight: bold;color: #005B30;">Register</b>
              </div>
              <br >
              <button class="form-control  w-75" style="border-radius: 5px; color: white; background-color: #005B30;" type="submit">Sign in</button>
            
              
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <img class= "w-100 h-100 " src="/images/login_background.jpeg" alt="Dosa Image">
        </div>
      </div>
    </div>
  </body>
</html>