<!DOCTYPE html>

<html lang="en">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <title>Menu</title>
      <style>
          /* body {
              font-family: "Roboto";
          } */
  
          .dropbtn {
              background-color: #ffffff;
              color: rgb(0, 0, 0);
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: 16px;
              border: none;
              cursor: pointer;
              border-radius: 10px;
          }
  
          .dropdown {
              position: relative;
              display: inline-block;
          }
  
          .dropdown-content {
              display: none;
              position: absolute;
              right: 0;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
          }
  
          .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
          }
  
          .dropdown-content a:hover {background-color: #f1f1f1;}
          .dropdown:hover .dropdown-content {display: block;}
          .dropdown:hover .dropbtn {background-color: #F4F2EF;}
  
          a{
              text-decoration: none;
          }
      </style>
    </head>
    <body style="background-color: #F4F2EF;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg" style="background-color: #F4F2EF; padding-top: 20px">
        <div class="container-fluid">
            <a class="navbar-brand"><b style="color: #005B30; padding-left: 80px;">Desi</b><b style="color: black;">Dhaba</b></a>  
            <div class="container collapse navbar-collapse" id="navbarSupportedContent" >
                
                    <a class="nav-link active" aria-current="page" href="/home" style="color: black; padding-left: 30px;">Home</a>
                    
                    <a class="nav-link" onclick="menuscroll()" style="color: black; padding-left: 30px;">Menu</a>
                    <a class="nav-link" type="button" onclick="aboutscroll()" style="color: black; padding-left: 30px;">About Us</a>
                    

                        <img src="/images/avatar.png" alt="Avatar" style="border-radius: 50%; width:30px; margin-left: 600px;">
                        <div class="dropdown" style="margin-left: 10px;">
                            <button class="dropbtn">Debanshi saha</button>
                            <div class="dropdown-content">
                            <a href="#">My account</a>
                            <%if(token==null){%>
                        
                                <a class="nav-link" href="/signup" style="width: 100px; color: black; padding-left: 30px;">SignUp</a>
                                <a class="nav-link" href="/login" style="color: black; padding-left: 30px;">Login</a>
                            
                            <%}else{%>
                                
                                <a class="nav-link" href="/logout" style="color: black; padding-left: 30px;">logout</a>
                                
                            <%}%>
                            </div>
                        </div>
                
                  </div>
              </div>
          </nav>
        <div class="container-fluid">
          <h1 class=" m-5 text-center">Bill</h1>
            <div class="card-body">
              <% for(let count = 0; count <Object.keys(users_cart.products).length; count++ ){ %>

                <div class="container shadow-sm my-3">
                  <div class="row">
                    <div class="bg-white col-md-2 p-4" align="center" style="height: 200px;">
                      <img src="/images/KFC.png" style="height: 100px; width:100px">
                      <h3 class="mx-4" ><%=Object.keys(users_cart.products)[count]%></h3>
                    </div>
                    <div class="bg-white col-md-10 p-4" align="right" style="height: 200px;">
                      <div style="margin-top: 50px;">
                        <h4 style="margin-right: 20px;"><%=Object.values(users_cart.products)[count]%></h4>
                        <%var prd=Object.keys(users_cart.products)[count]%>
                        <%var obj=menu_info.find(key => key.name === prd);%>
                        <h4 style="margin-right: 20px;">
                          <%=obj.price%>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>

              <% } %>
              
              <div class="container">
                <div class="row">
                  <div class="bg-white col-md-12 p-4" align="right" style="height: 100px; margin-top: 30px;">
                    <div>
                      
                      <h3 style="margin-right: 20px;">Total : 300</h3>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 p-4" align="right" style="margin-top: 30px;">
                      <div>
                        
                        <a href="/home" class="btn" style="background-color: green; color: #ffffff; font-size: 20px;">Check Out</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>