<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>

        <div id="container">

        </div>
        
        <script>
                var htmlElements = "";
                for (var i = 0; i < 6; i++) {
                htmlElements += '<div class="">Hello</div>';
                }
                var container = document.getElementById("container");
                container.innerHTML = htmlElements
        </script>
    </body>
</html>